[submodule "aula-food-pagamentos"]
	path = aula-food-pagamentos
	url = git@github.com:nayarabssantos/pagamentos.git
[submodule "alura-food-pedidos"]
	path = alura-food-pedidos
	url = git@github.com:nayarabssantos/alura-food-pedidos.git
[submodule "alura-food-gateway"]
	path = alura-food-gateway
	url = git@github.com:nayarabssantos/alura-food-gateway.git
